* {
	margin: 0px;
	padding: 0px;
	font-family: candara;
}
body {
	margin: 50px;
}


input:focus {
	outline: none;
}

.marka {
	width: 1000px;
	margin: 100px auto 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.marka img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	border: 10px solid #FFF;
	box-shadow: 0px 0px 5px #333;
	cursor: pointer;
}


